<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="info">
                    <a class="logo" href="{% url 'home' %}"><h1>Redtraktor.ru</h1></a>
                    <p>Интернет-магазин Redtraktor предоставляет лучшие товары по самым низким ценам!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h2>Контакты</h2>
                <p>142000 <br />ул. Название Улицы д.123<br /><a href="mailto:iskovskikh@gmail.com">iskovskikh@gmail.com</a><br />+7 (903) 000-80-71</p>
            </div>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <p>2018 Исковских Алексей <a href="mailto:iskovskikh@gmail.com">iskovskikh@gmail.com</a></p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>