<!--<header>-->
<!--&lt;!&ndash;<div class="left_bg"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="right_bg"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="menu">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="main"><h1>Header</h1></ul>&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="catalog"></ul>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="toolbar"&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" href="#">Красный Трактор</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--&lt;!&ndash;<ul class="navbar-nav ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" href="#">Home&ndash;&gt;-->
<!--&lt;!&ndash;<span class="sr-only">(current)</span>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" href="#">About</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" href="#">Services</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="nav-link" href="#">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--</header>-->

<header data-offset-top="144" data-stuck="250" class="">
    <div class="left-bg"></div>
    <div class="right-bg"></div>
    <div class="container">
        <a class="logo" href=""><img src="http://via.placeholder.com/388x70" alt="Красный трактор"></a>
        <nav class="menu">

            <ul class="main">
                <li class="has-submenu"><a href="index.html">Home<i class="fa fa-chevron-down"></i></a>
                    <!--Class "has-submenu" for proper highlighting and dropdown-->
                    <ul class="submenu">
                        <li><a href="index.html">Home - Slideshow</a></li>
                        <li><a href="home-fullscreen.html">Home - Fullscreen Slider</a></li>
                        <li><a href="home-showcase.html">Home - Product Showcase</a></li>
                        <li><a href="home-categories.html">Home - Categories Slider</a></li>
                        <li><a href="home-offers.html">Home - Special Offers</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="shop-filters-left-3cols.html">Shop<i
                        class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="shop-filters-left-3cols.html">Shop - Filters Left 3 Cols</a></li>
                        <li><a href="shop-filters-left-2cols.html">Shop - Filters Left 2 Cols</a></li>
                        <li><a href="shop-filters-right-3cols.html">Shop - Filters Right 3 Cols</a></li>
                        <li><a href="shop-filters-right-2cols.html">Shop - Filters Right 2 Cols</a></li>
                        <li><a href="shop-no-filters-4cols.html">Shop - No Filters 4 Cols</a></li>
                        <li><a href="shop-no-filters-3cols.html">Shop - No Filters 3 Cols</a></li>
                        <li><a href="shop-single-item-v1.html">Shop - Single Item Vers 1</a></li>
                        <li><a href="shop-single-item-v2.html">Shop - Single Item Vers 2</a></li>
                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout Page</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="blog-sidebar-right.html">Blog<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="blog-sidebar-left.html">Blog - Sidebar Left</a></li>
                        <li><a href="blog-sidebar-right.html">Blog - Sidebar Right</a></li>
                        <li><a href="blog-single.html">Blog - Single Post</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Pages<span class="label">NEW</span><i
                        class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="register.html">Login / Registration</a></li>
                        <li><a href="account-personal-info.html">Account: Personal Info<span
                                class="label">NEW</span></a></li>
                        <li><a href="account-addresses.html">Account: Addresses<span class="label">NEW</span></a></li>
                        <li><a href="order-history.html">Orders History<span class="label">NEW</span></a></li>
                        <li><a href="order-tracking.html">Order Tracking<span class="label">NEW</span></a></li>
                        <li><a href="delivery-info.html">Delivery Info<span class="label">NEW</span></a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="support.html">Support Page</a></li>
                        <li><a href="cs-page.html">Components &amp; Styles</a></li>
                    </ul>
                </li>
                <li class="hide-sm"><a href="support.html">Support</a></li>
            </ul>
            <ul class="catalog">
                <li class="has-submenu"><a href="shop-filters-left-3cols.html">Phones<i class="fa fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Nokia</a></li>
                        <li class="has-submenu"><a href="#">iPhone</a>
                            <!--Class "has-submenu" for adding carret and dropdown-->
                            <ul class="sub-submenu" style="height: 236px; top: -44px; display: none;">
                                <li><a href="#">iPhone 4</a></li>
                                <li><a href="#">iPhone 4s</a></li>
                                <li><a href="#">iPhone 5c</a></li>
                                <li><a href="#">iPhone 5s</a></li>
                            </ul>
                        </li>
                        <li><a href="#">HTC</a></li>
                        <li class="has-submenu"><a href="#">Samsung</a>
                            <ul class="sub-submenu" style="height: 236px; top: -134px; display: none;">
                                <li><a href="#">Galaxy Note 3</a></li>
                                <li><a href="#">Galaxy S5</a></li>
                                <li><a href="#">Galaxy S3 Neo</a></li>
                                <li><a href="#">Galaxy Gear</a></li>
                                <li><a href="#">Galaxy S Duos 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BlackBerry</a></li>
                        <li class="offer">
                            <div class="col-1">
                                <p class="p-style2" style="display: block;">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                            </div>
                            <div class="col-2">
                                <img src="img/offers/menu-drodown-offer.jpg" alt="Special Offer">
                                <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="shop-filters-left-3cols.html">Cameras</a></li>
                <li><a href="shop-filters-left-3cols.html">Personal computers</a></li>
                <li><a href="shop-filters-left-3cols.html">Gaming consoles</a></li>
                <li><a href="shop-filters-left-3cols.html">TV sets</a></li>
            </ul>
        </nav>
    </div>
</header>