{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    {% if breadcrumbs|length > 1 %}
        <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs%}
            {% if forloop.counter == breadcrumbs|length %}
                <li class="breadcrumb-item">{{ breadcrumb.name }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'category' breadcrumb.get_absolute_url%}">{{ breadcrumb.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ol>
    {% endif%}
{% endblock %}

{% block content%}



    {%if categories %}
        {% include 'product/categories_template.html' with categories=categories%}
    {% endif %}

    {%if products %}
        {% include 'product/products_template.html' with products=products%}
    {% endif %}

{% endblock %}