{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
    {% if breadcrumbs|length > 1 %}
        <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs%}
            {% if forloop.counter == breadcrumbs|length %}
                <li class="breadcrumb-item">{{ breadcrumb.name }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'category' breadcrumb.get_absolute_url%}">{{ breadcrumb.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ol>
    {% endif%}
{% endblock %}

{% block content%}
    <section class="category-grid">
        <div class="row">
        {% for category in categories %}
            <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <a href="{% url 'category' category.get_absolute_url %}">
                    {% if category.image %}
                        <img class="img-fluid" src="{{ category.image.url }}">
                    {% else %}
                        <img class="img-fluid" src="/media/placeholder.png">
                    {% endif %}
                    <p>{{ category.name }}</p>
                </a>
            </div>
        {% endfor%}
        </div>
    </section>

    <section class="product-grid">
        <div class="row">
            <!--<div class="card-deck">-->
        {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
            <!--<div class="col-lg-3 col-md-4 col-sm-6">-->

                <div class="card">
                    {% if product.images %}
                        <a href="#"><img class="img-fluid" src="{{ product.images.first.image.url }}"></a>
                    {% else %}
                        <a href="#"><img class="img-fluid" src="/media/placeholder.png"></a>
                    {% endif %}
                    <div class="card-body">
                        <a href="#"><h6 class="card-title">{{ product.name }}</h6></a>
                        <p class="card-text">{{ product.description }}</p>
                        <!--<a href="#" class="card-link">Купить</a>-->
                    </div>
                </div>

            </div>

        {% endfor%}
            </div>
        </div>
    </section>

{% endblock %}