{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
{% if breadcrumbs %}
{% include 'breadcrumbs.html' with breadcrumbs=breadcrumbs %}
{% endif %}
{% endblock %}

{% block content%}
<section class="product">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <style>
                    #carouselExampleIndicators .list-inline {
                        white-space: nowrap;
                        /*overflow-x: auto;*/
                    }

                    #carouselExampleIndicators .carousel-indicators {
                        position: static;
                        left: initial;
                        width: initial;
                        /*margin-left: initial;*/
                    }

                    #carouselExampleIndicators .carousel-indicators > li {
                        width: initial;
                        height: initial;
                        text-indent: initial;
                    }

                    #carouselExampleIndicators .carousel-indicators > li.active img {
                        opacity: 0.7;
                    }
                </style>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% if product.images %}
                        {% for img in product.images.all %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <img class="img-fluid d-block w-100" src="{{ img.image.url }}" alt="{{ img.caption }}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="carousel-item active">
                            <img class="img-fluid d-block w-100" src="/media/placeholder.png" alt="{{ product.name }}">
                        </div>
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                    <ol class="carousel-indicators list-inline">
                        {% if product.images %}
                        {% for img in product.images.all %}
                        <!--<div class="carousel-item">-->
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:'-1' }}" {% if forloop.first %} class="active" {% endif %}>
                            <img class="img-fluid d-block w-100" src="{{ img.image.url }}" alt="{{ img.caption }}">
                        </li>
                        <!--</div>-->
                        {% endfor %}
                        {% else %}
                        <div class="carousel-item active">
                            <img class="img-fluid d-block w-100" src="/media/placeholder.png" alt="{{ product.name }}">
                        </div>
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h1>{{ product.name }}</h1>
            <div class="price">{{ product.price }}<i class="fas fa-ruble-sign"></i></div>
            <p>{{ product.description }}</p>
        </div>
    </div>
</section>
{% endblock %}