<section class="product-grid">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="card">
                    {% if product.images %}
                        <a href="{% url 'product' product.slug %}"><img class="img-fluid" src="{{ product.images.first.image_253x253.url }}"></a>
                    {% else %}
                        <a href="{% url 'product' product.slug %}"><img class="img-fluid" src="/media/placeholder.png"></a>
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'product' product.slug %}"><h6 class="card-title">{{ product.name }}</h6></a>
                        {% if product.short_description %}
                            <p class="card-text">{{ product.short_description }}</p>
                        {% endif %}
                        <!--<a href="#" class="card-link">Купить</a>-->
                    </div>
                </div>
            </div>
        {% endfor%}
        </div>
    </div>
</section>