{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
{% if breadcrumbs %}
{% include 'breadcrumbs.html' with breadcrumbs=breadcrumbs %}
{% endif %}
{% endblock %}

{% block content%}
<section class="product py-3">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                {% include 'product/image_carousel_template.html' with product=product %}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h1 class="display-5">{{ product.name }}</h1>
            {% if product.short_description %}
                <p>{{ product.short_description }}</p>
            {% endif %}
            <div class="price">{{ product.price }}&nbsp;<i class="fas fa-ruble-sign"></i></div>
            <div class="py-3">
                <a class="btn btn-primary" id="addItemToCart" href="#"><i class="icon-shopping-cart"></i>Купить</a>
            </div>
            <div class="py-3">
                {{ product.features|safe }}
            </div>
        </div>
    </div>
</section>
<section class="py-3">
    <table class="table">
        <tbody>
            {% if product.images %}
                {% for spec in product.specs.all %}
                <tr>
                    <td>{{ spec.caption }}</td>
                    <td>{{ spec.value }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <p>{{ product.description}}</p>

</section>
{% endblock %}